{% extends 'Zaunita/base.html' %}

{% block main %}
    <h1>About Me</h1>
    <p>Hola, Me llamo Lautaro Pardo, Soy de Buenos Aires argentina y estoy estudiando la Tecnicatura en programacion en la Unahur.
    Empece a estudiar programacion porque siempre me llamo la atencion el mundo de la informatica, pero cuando me meti a la carrera
    de ingenieria en informatica me di cuenta que lo que me gustaba en si era programar, por eso empece a estudiar la Tecnicatura
    y para ya tener una idea de un lenguaje y como se utilizaban decidi hacer el curso de Python en coderhouse.
    </p>
{% endblock %}